/* Mobile: max-width 480px */
@media screen and (max-width: 480px) {
  .shop-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
  }
  .shop-cnt-body-right-shop-meta{
    height: 125px;
    width: 100%;
    position: relative;
    background-color: #005c45;
  }
  .shop-cnt-body-right-shop-meta .logo-cnt{
    position: absolute;
    bottom: -40px;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 100px;
    width: 100px;
    right: 25px;
    z-index: 500;
    background-color: rgb(47, 152, 183);
  }
  .shop-cnt-body-left-shop-list{
    width: 100%;
    padding: 15px;
    height: fit-content;
  }
  .shop-cnt-body-left-shop-list-head{
    display: flex;
    justify-content: space-between;
  }
  .input-cnt{
    padding: 10px;
  }
  select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
  .shop-cnt-body-right-shop-title{
    width: 100%;
    height: 80px;
    padding: 25px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border: 1px solid #efefef;
  }
  .shop-cnt-body-right-shop-meta .shop-status-cnt{
    /* margin: 0px 110px 20px 0px; */
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    height: fit-content;
    right: 0px;
    text-align: center;
    padding-left: 35px;
    top: 120px;
    position: absolute;
    padding: 5px 10px;
  }
  .shop-cnt-body-left-shop-summary{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #efefef;
  }
  .shop-cnt-body-left-shop-summary .shop-summary{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .shop-cnt-body-left-shop-summary .shop-summary :nth-child(1){
    font-weight: 600;
  }
  .shop-cnt-body-left-shop-category{
    border: 1px solid #efefef;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  .shop-cnt-body-left-shop-category-head{
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-right-shop-description{
    width: 100%;
    height: fit-content;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #efefef;
  }
  .shop-cnt-body-right-shop-description-head{
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .shop-cnt-body-right-shop-orders{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #efefef;
  }
  .shop-cnt-body-right-shop-orders .orders-head{
    height: 50px;
    border: 1px solid #efefef;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px;
  }
  .orders-head h5, .orders-head h6{
    height: 100%;
    width: fit-content;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin: 0px 1px 0px 0px;
    cursor: pointer;
    border: 1px solid #efefef;

  }
  .shop-cnt-body-right-shop-orders .orders-body{
    padding: 25px;

  }
  .shop-cnt-body-right-shop-catalog{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #efefef;
  }
  .shop-cnt-body-right-shop-catalog .catalog-head{
    height: 50px;
    border: 1px solid #efefef;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
  }
  .shop-cnt-body-right-shop-catalog .catalog-body{
    padding: 8px;
    width: 100%;
   
    

  }
  .catalog-card-cnt{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;

  }
  .shop-cnt-body-left-shop-verification{
    border: 1px solid #efefef;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  .shop-cnt-body-left-shop-verification-head{
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-verification-body{
    padding: 5px;
    height: fit-content;
    flex-direction: column;
  }
  .kyc-cnt{
    width: 100%;
    border: 1px solid #efefef;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-address{
    border: 1px solid #efefef;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  .shop-cnt-body-left-shop-address-head{
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-address-body{
    padding: 5px;
    height: fit-content;
    flex-direction: column;
  }
  .kyc-cnt{
    width: 100%;
    border: 1px solid #efefef;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-policies{
    border: 1px solid #efefef;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  .shop-cnt-body-left-shop-policies-head{
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-policies-body{
    padding: 5px;
    height: fit-content;
    flex-direction: column;
  }
  .kyc-cnt{
    width: 100%;
    border: 1px solid #efefef;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .shop-cnt-body-left-shop-availability{
    border: 1px solid #efefef;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  .shop-cnt-body-left-shop-availability-head{
    display: flex;
    justify-content: space-between;
  }
}
