@media screen and (max-width: 480px) {
    #headline{
        font-size: 6vh;
    }
    #interval-text{
        font-size: 5vh;
    }
    #tagline-cnt {
        z-index: 500;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        height: fit-content;
        width: 100%;
        /* padding: 10px; */
        border-radius: 10px;
        text-align: center;
    }
    #tagline{
        z-index: 500;
        position: absolute;
        bottom: 10px;
        /* left: 30px; */
        color: #fff;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    #section{
        padding: 20px 25px;
    }
    #conclude-cnt{
        padding: 50px;
    }
    #globe-section{
        padding: 20px;
    }
    #header-logoo-cnt{
        margin-left: 20px;
    }
    #header-logoo-cnt h3{
        padding-left: 20px;
        margin: 0;
    }
    #header-logoo-cnt img{
        height: 50px;
        width: 50px;
    }
    ul li div:hover{
        background-color: transparent;
    }
    
    header{
        height: 100vh;
        background-color: transparent;
        /* background-color: ; */
        /* opacity: .5; */
        display: flex;
        position: relative;
        margin: 0;
        /* flex-direction: column; */
        z-index: 1000;
        padding: 0;
        top: 0;
        align-items: flex-start;
    
        justify-content: space-between;
    }
    
    
    
    .header section ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        justify-content: center;
    }
    .header section ul li{
        border: 1px solid #00926E;
        padding: 12px 12px;
        border-radius: 25px;
        margin: 0px 5px;
        font-weight: 500;
        color: #00926E;
    
    }
    
    .header section ul li:last-child{
        background-color: #00926E;
        color: #fff;
    }
    
    .header section ul li:hover{
        background-color: #00926E;
        color: #fff;
    }
    
    .header{
        height: 60px;
        background-color: transparent;
        /* background-color: ; */
        /* opacity: .5; */
        width: 100%;
        display: flex;
        position: sticky;
        margin: 0;
        z-index: 1000;
        top: 0;
        align-items: center;
        justify-content: space-between;
    }
    
    
    main{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
    }
    
    main section{
        width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    
    }
    
    main section h4{
        width: 100%;
        text-align: center;
    }
    
    main section button{
        padding: 10px;
        background-color: #fff;
        color: #00926e;
        border: 1px solid #00926e;
        border-radius: 5px;
    }
    
    main section button:hover{
        background-color: #00926e;
        color: #fff;
    }
    
    main section ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    
    }
    
    #why ul{
        background-color: #fff;
    }
    
    #why ul li{
        border: 1px solid #00926e;
        color: #00926e;
        width: 25%;
    }
    
    
    
    main section:nth-child(2){
        background-color: #00351ce8;
        border-radius: 25px 25px 0px 0px;
        color: #fff;
        font-size: 7.5vh;
        text-align: justify;
        font-weight: 500;
        padding: 20px 25px;
    }
    
    
    main section:nth-child(2) div{
        height: fit-content;
        width: 100%;
        /* background-color: #fff; */
    }
    
    main section:nth-child(2) div ul{
        list-style-type: none;
        display: flex;
        height: 100%;
        padding: 10px;
        margin: 0;
        overflow: auto;
        justify-content: space-between;
    }
    
    main section:nth-child(2) div ul li{
        width: 200px;
        background-color: #fff;
        display: flex;
        flex-shrink: 0;
        margin: 0px 8px;
        
        border-radius: 10px;
        justify-content: space-between;
    }
    
    main section:nth-child(2) div ul li:nth-child(3){
        width: 200px;
    }
    main section:nth-child(2) div ul li:nth-child(3){
        font-size: 7.5vh;
        font-weight: 100;
    }
    
    main section:nth-child(3){
        background-color: #00351ce8;
        /* border-radius: 25px 25px 0px 0px; */
        color: #fff;
        font-size: 7.5vh;
        text-align: left;
        padding: 0px 40px;
        font-weight: 500;
    }
    
    main section:nth-child(3) div{
        height: auto;
        width: 100%;
        /* background-color: #fff; */
    }
    
    main section:nth-child(3) div ul{
        list-style-type: none;
        display: flex;
        height: 100%;
        padding: 10px;
        margin: 0;
        overflow: auto;
        justify-content: space-between;
    }
    
    main section:nth-child(3) div ul li{
        width: 45%;
        background-color: #00351ce8;
        display: flex;
        flex-shrink: 0;
        margin: 0px 8px;
        border-radius: 10px;
        justify-content: space-between;
    }
    
    main section:nth-child(4){
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: #00351ce8;
        padding: 20px;
        justify-content: space-between;
    }
    
    main section:nth-child(4) .list-cnt{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #00351ce8;
        justify-content: space-between;
        height: auto;
        /* padding: 20px; */
    }
    
    
    main section:nth-child(4) .list-cnt div{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #00926e; */
        border-radius: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: #005741;
        height: 600px;
    }
    
    
    .dashboard-summary{
        height: auto;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 40px;
    }
    
    .dashboard-summary ul{
        list-style-type: none;
        display: flex;
        padding: 20px 20px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .dashboard-summary ul li{
        width: fit-content;
        height: fit-content;
        background: #00926E; /* Semi-transparent white */
        backdrop-filter: blur(10px); /* Frosted glass effect */
        border-radius: 15px; /* Rounded corners */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
        border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        text-align: center;
        /* width: calc(25% - 15px); */
    
    
    }
    
    .dashboard-body{
        height: auto;
        width: 100%;
        padding-top: 40px;
        z-index: 2000;
        background-color: #fff;
        position: relative;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
      /* border-bottom-right-radius:10px; */
    }
    .dashboard-body section:nth-child(2){
        background-color: black;
    }

    
    
    #about{
        display: flex;
        height: fit-content;
        width: 100%;
        /* padding: 20px 20px; */

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        border-radius: 15px;
    }

    #about h1{
        color: #00926E;
        font-size: 6vh;
        text-align: center;
        font-weight: 500;
        border: none;
        margin: 0;
    }

    .about-card-cnt{
        width: 100%;
        height: fit-content;
        /* padding: 20px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-bottom-right-radius:30px;
        border-top-right-radius:30px;
    }

    .about-card-cnt{
        display: flex;
        margin: 25px;
        color: #000;
    }

    .about-card{
        padding: 10px;
        width: 100%;
    }

    .content{
        padding: 10px;
        text-align: center;
    }

    .title{
        font-size: large;
        font-weight: 800;
        font-size: 4vh;
        margin: 10px 5px;
    }

    .summary{
        font-size: large;
        line-height: 30px;
        font-weight: 500;
    }
    
    
    .dashboard-body  ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        overflow: auto;
        padding: 10px 10px;
        background-color: #fff;
    }
    
    .dashboard-body ul li{
        width: 350px;
        height: 400px;
        flex-shrink: 0;

        background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
        border-radius: 15px; /* Rounded corners */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
        border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    
    .dashboard-body ul li:hover{
        background-color: transparent;
    }
    
    .dashboard-conclusion{
        height: auto;
        width: 100%;
        padding: 20px;
        z-index: 2000;
        position: relative;
        /* background-color: #005741; */
        background-color: #00926E;
        border-top-left-radius:30px;
        border-top-right-radius:30px;
    }
    
    .conclude-lg-img{
        /* background-image: url(../../../../images/1528731759314.jpeg); - Image removed */
        border-radius: 10px;
        background-clip: content-box;
        background-size: cover;
        background-color: rgb(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .conclude-lg-img div{
        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0,.5);
        display: flex;
        height: 100%;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
    

    .payment-bg{
        height: 100vh;
        /* background-image: url(../../../../images/hybrid.jpg); - Image removed */
        background-clip: content-box;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .payment-cnt{
        height: 100%;
        background-color: #fff;
        /* background-color: rgb(0, 0, 0, .5); */
        padding: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .payment-cnt ul{
        /* overflow: auto; */
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: fit-content;
        width: 100%;
    }
    .payment-cnt ul li{
        width: 100%;
        padding: 25px 25px;
        color: #00926e;
        height: fit-content;
    }

    .conclude-list{
        font-size: 3.5vh; 
    }

    

    footer{
        height: auto;
        width: 100%;
        display: flex;
        padding: 0;
        /* background-color: #005c45; */
        background-color: #003c2d;
        color: #fff;
        /* background-color: #00351ce8; */
        flex-direction: column;
        /* border-top-right-radius: 40px;
        border-top-left-radius: 40px; */
    }

    footer section:nth-child(1){
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* border-top-right-radius: 40px;
        border-top-left-radius: 40px; */
        padding: 20px;
    }

    footer section:nth-child(1) div:nth-child(2){
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        color: #fff;

    }

    .input-cnt{
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .input-cnt input{
        height: 40px;
        width: 200px;

    }

    .footer-button{
        height: 40px;
        width: 70px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    footer section:nth-child(2){
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        color: #fff;

    }

    footer section:nth-child(2) div{
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: #fff;
        flex-wrap: wrap;
    }

    footer section:nth-child(2) div ul{
        margin: 0;
        padding: 0;
    }

    footer section:nth-child(2) div ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        font-size: medium;
        color: #fff;
        align-items: flex-start;
    }
   


    footer .copywright{
        height: auto;
        width: 100%;
        display: flex;
        padding: 0px 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    footer .copywright div:nth-child(1){
        height: auto;
        width: 60%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(1){
        height: auto;
        width: 40%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(1) ul{
        margin: 0;
        padding: 0px 0px 10px 0px;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .copywright div:nth-child(1) ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        color: #fff;
        /* margin: 0px 8px; */
        font-size: medium;
        align-items: flex-start;
    }


    footer .copywright div:nth-child(2){
        height: auto;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(2) ul{
        margin: 0;
        padding: 0px 10px 0px 0px;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    footer .copywright div:nth-child(2) ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        color: #fff;
        margin: 0px 10px;
        font-size: medium;
        align-items: center;
    }
}
