@media screen and (min-width: 1200px) {
    

    .landing-page-cnt{
        background-color: #0BDA51;
        height: 100vh;
        width: 100%;
    }

    header{
        height: 10%;
        width: 100%;
        background-color: #000;
    }

    .content-1{
        height: 90%;
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0px 0px;
    }
    
}