@media screen and (min-width: 1201px) {
    #headline{
        font-size: 9vh;
    }
    #interval-text{
        font-size: 5vh;
    }
    #section{
        padding: 20px 55px;
    }
    #conclude-cnt{
        padding: 50px;
    }
    #globe-section{
        padding: 20px;
    }
    #header-logo-cnt{
        margin-left: 20px;
    }
    #header-logo-cnt h3{
        padding-left: 20px;
        margin: 0;
    }
    #header-logo-cnt img{
        height: 50px;
        width: 50px;
    }
    ul li div:hover{
        background-color: transparent;
    }
    
    header{
        height: 100vh;
        background-color: transparent;
        /* background-color: ; */
        /* opacity: .5; */
        display: flex;
        position: relative;
        margin: 0;
        /* flex-direction: column; */
        z-index: 1000;
        padding: 0;
        top: 0;
        align-items: flex-start;
    
        justify-content: space-between;
    }
    
    
    
    .header section ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        justify-content: center;
    }
    .header section ul li{
        border: 1px solid #00926E;
        padding: 12px 12px;
        border-radius: 25px;
        margin: 0px 5px;
        font-weight: 500;
        color: #00926E;
    
    }
    
    .header section ul li:last-child{
        background-color: #00926E;
        color: #fff;
    }
    
    .header section ul li:hover{
        background-color: #00926E;
        color: #fff;
    }
    
    .header{
        height: 60px;
        background-color: transparent;
        /* background-color: ; */
        /* opacity: .5; */
        width: 100%;
        display: flex;
        position: sticky;
        margin: 0;
        z-index: 1000;
        top: 0;
        align-items: center;
        justify-content: space-between;
    }
    
    
    main{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
    }
    
    .hero-section{
        width: 100%;
        height: calc(100vh - 0px);
        display: flex;
        overflow: hidden;
        position: relative;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
    }

    .video-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       
        background-color: #99d3c5;
    }

    .hero-right{
        width: 45%;
        height: 100%;
        background-color: transparent;
        position: relative;
        display: flex;
        padding: 70px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: rgba(0, 146, 110, 1);
        background-color: rgba(0, 146, 110, .2);
    }

    .hero-left{
        width: 55%;
        height: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 160px 120px 0px 120px;
        background-color: rgba(0, 146, 110, 1);
        background-color: rgba(0, 146, 110, .2);
    }

    .hero-info{
        width: 470px;
    }

    .hero-left h2{
        padding: 20px 20px 20px 20px;
        color: rgb(255, 255, 255);
        font-size: 4.5vh;
        font-weight: 800;
    }

    .hero-left ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
    }

    .theme{
        padding: 20px 20px;
        font-weight: 600;
        font-size: large;
        color: rgb(255, 255, 255);
        text-align: justify;
    }

    .download_btn{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px;
    }

    .order_btn{
        width: 100%;
        height: 120px;
        margin: 5px 0px;
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
    }

    .order_btn button{
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: #00926E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 900;
        font-size: 3.5vh;
        border: none;
        border-radius: 15px;
    }

    .download_btn button{
        width: 48%;
        padding: 0;
        border: none;
        background-color: transparent;
    }
    
    #about{
        /* height: 70vh; */
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px;
        display: flex;
        margin: 20px;
        justify-content: space-between;
    }
    #about h1{
        color: #00926E;
        font-size: 5.5vh;
        font-weight: 700;
        border: none;
        margin: 0;
    }

    .about-card-cnt{
        display: flex;
        margin: 25px;
        color: #000;
    }

    .about-card{
        padding: 10px;
        width: 33.3%;
    }

    .content{
        padding: 10px;
        text-align: center;
    }

    .title{
        font-size: large;
        font-weight: 800;
        font-size: 4vh;
        margin: 10px 5px;
    }

    .summary{
        font-size: large;
        line-height: 30px;
    }
    
    #why-section{
        background-color: #00926E;
        color: #fff;
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #why-card{
        display: flex;
        height: 380px;
        flex-direction: space-between;
        margin: 25px 0px;
        flex-direction: row;
        border-radius: 5px;
        color: #000;
    }
    #why-card:nth-child(odd){
        flex-direction: row-reverse;
    }
     #why-card:nth-child(even){
        flex-direction: row;
    }
    #why-card:nth-child(even) .content{
        width: 60%;
        padding: 25px 35px;

        text-align: justify;
    }
    #why-card:nth-child(odd) .content{
        width: 60%;
        padding: 25px 35px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #why-card:nth-child(even) img{
        width: 40%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        /* padding: 10px; */
        text-align: right;
    }
    #why-card:nth-child(odd) img{
        width: 40%;
        /* padding: 10px; */
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 100%;
        text-align: left;
    }
 

    footer{
        height: auto;
        width: 100%;
        display: flex;
        padding: 10px 25px;
        /* background-color: #005c45; */
        background-color: #003c2d;
        color: #fff;
        /* background-color: #00351ce8; */
        flex-direction: column;
        /* border-top-right-radius: 40px;
        border-top-left-radius: 40px; */
    }

    footer section:nth-child(1){
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* border-top-right-radius: 40px;
        border-top-left-radius: 40px; */
        padding: 20px;
    }

    footer section:nth-child(1) div:nth-child(2){
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        color: #fff;

    }

    .input-cnt{
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .input-cnt input{
        height: 40px;
        width: 200px;

    }

    .footer-button{
        height: 40px;
        width: 70px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    footer section:nth-child(2){
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        color: #fff;

    }

    footer section:nth-child(2) div{
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: #fff;
        flex-wrap: wrap;
    }

    footer section:nth-child(2) div ul{
        margin: 0;
        padding: 0;
    }

    footer section:nth-child(2) div ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        font-size: medium;
        color: #fff;
        align-items: flex-start;
    }
   


    footer .copywright{
        height: auto;
        width: 100%;
        display: flex;
        padding: 0px 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    footer .copywright div:nth-child(1){
        height: auto;
        width: 60%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(1){
        height: auto;
        width: 40%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(1) ul{
        margin: 0;
        padding: 0px 0px 10px 0px;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .copywright div:nth-child(1) ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        color: #fff;
        /* margin: 0px 8px; */
        font-size: medium;
        align-items: flex-start;
    }


    footer .copywright div:nth-child(2){
        height: auto;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .copywright div:nth-child(2) ul{
        margin: 0;
        padding: 0px 10px 0px 0px;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    footer .copywright div:nth-child(2) ul li{
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        color: #fff;
        margin: 0px 10px;
        font-size: medium;
        align-items: center;
    }
}
