ul li div:hover{
    background-color: transparent;
}

header{
    height: 100vh;
    background-color: transparent;
    /* background-color: ; */
    /* opacity: .5; */
    display: flex;
    position: relative;
    margin: 0;
    /* flex-direction: column; */
    z-index: 1000;
    padding: 0;
    top: 0;
    align-items: flex-start;

    justify-content: space-between;
}



header section ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    justify-content: center;
}
header section ul li{
    border: 1px solid #00926e;
    padding: 12px 12px;
    border-radius: 25px;
    margin: 0px 5px;
    font-weight: 500;
    color: #00926e;

}

header section ul li:last-child{
    background-color: #00926e;
    color: #fff;
}

header section ul li:hover{
    background-color: #00926e;
    color: #fff;
}

.header{
    height: 60px;
    background-color: transparent;
    /* background-color: ; */
    /* opacity: .5; */
    width: 100%;
    display: flex;
    position: sticky;
    margin: 0;
    z-index: 1000;
    top: 0;
    align-items: center;
    justify-content: space-between;
}


main{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

main section{
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

main section h4{
    width: 100%;
    text-align: center;
}

main section button{
    padding: 10px;
    background-color: #fff;
    color: #00926e;
    border: 1px solid #00926e;
    border-radius: 5px;
}

main section button:hover{
    background-color: #00926e;
    color: #fff;
}

main section ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

#why ul{
    background-color: #fff;
}

#why ul li{
    border: 1px solid #00926e;
    color: #00926e;
    width: 25%;
}



main section:nth-child(2){
    background-color: #00351ce8;
    border-radius: 25px 25px 0px 0px;
    color: #fff;
    font-size: 7.5vh;
    text-align: justify;
    font-weight: 500;
}


main section:nth-child(2) div{
    height: 280px;
    width: 100%;
    /* background-color: #fff; */
}

main section:nth-child(2) div ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 10px;
    margin: 0;
    overflow: auto;
    justify-content: space-between;
}

main section:nth-child(2) div ul li{
    width: 200px;
    background-color: #fff;
    display: flex;
    flex-shrink: 0;
    margin: 0px 8px;
    
    border-radius: 10px;
    justify-content: space-between;
}

main section:nth-child(2) div ul li:nth-child(3){
    width: 200px;
}
main section:nth-child(2) div ul li:nth-child(3){
    font-size: 7.5vh;
    font-weight: 100;
}

main section:nth-child(3){
    background-color: #00351ce8;
    /* border-radius: 25px 25px 0px 0px; */
    color: #fff;
    font-size: 7.5vh;
    text-align: left;
    padding: 0px 40px;
    font-weight: 500;
}

main section:nth-child(3) div{
    height: auto;
    width: 100%;
    /* background-color: #fff; */
}

main section:nth-child(3) div ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 10px;
    margin: 0;
    overflow: auto;
    justify-content: space-between;
}

main section:nth-child(3) div ul li{
    width: 45%;
    background-color: #00351ce8;
    display: flex;
    flex-shrink: 0;
    margin: 0px 8px;
    border-radius: 10px;
    justify-content: space-between;
}

main section:nth-child(4){
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #00351ce8;
    padding: 40px;
    justify-content: space-between;
}

main section:nth-child(4) .list-cnt{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #00351ce8;
    justify-content: space-between;
    height: auto;
    /* padding: 20px; */
}


main section:nth-child(4) .list-cnt div{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #00926e; */
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    background-color: #005741;
    height: 600px;
}


.dashboard-summary{
    height: auto;
    background-color: #005741;
    width: 100%;
}

.dashboard-summary ul{
    list-style-type: none;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
}

.dashboard-summary ul li{
    /* width: 300px; */
      height: 400px;
      background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
      backdrop-filter: blur(10px); /* Frosted glass effect */
      border-radius: 15px; /* Rounded corners */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
      border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: white;
      font-size: 1.5rem;
      font-family: Arial, sans-serif;
      text-align: center;
    width: calc(25% - 15px);


}

.dashboard-body{
    height: auto;
    width: 100%;
    padding-top: 40px;
    z-index: 2000;
    position: relative;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  /* border-bottom-right-radius:10px; */
}
.dashboard-body section:nth-child(2){
    background-color: black;
}

.globe-sale-cnt{
    background-size: cover;
    /* background-image: url(../../images/globe.webp); - Image removed */ background-color: rgb(0, 0, 0, 0.7);
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.tutorial-cnt{
    background-size: cover;
    /* background-image: url(../../images/Case_Study_Unverschwendet___Quivo.webp); - Image removed */ background-color: rgb(0, 0, 0, 0.7);
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tutorial-cnt div{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
    padding: 70px;
    
}

.globe-sale-cnt div{
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}

.globe-sale-cnt div:hover{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
}

.globe-list:nth-child(1){
    /* background-image: url(../../images/15paris-autoshow-01-gjqw-superJumbo.webp); - Image removed */ background-color: #00926E;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.globe-list:nth-child(2){
    /* background-image: url(../../images/Advanced-Industry-4.0-Solutions-Are-Proliferating-Smart-Factories-800x445.jpg); - Image removed */ background-color: #005741;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.globe-list:nth-child(3){
    /* background-image: url(../../images/tropikala-00520.jpg); - Image removed */ background-color: #003d2e;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.globe-list div{
    background-color: transparent;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 15px;
}

.globe-list div:hover{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
}

.crypto-bg{
    /* background-image: url(../../images/traxer-kM6QNrgo0YE-unsplash (1).jpg); - Image removed */ background-color: rgb(0, 0, 0);
    background-clip: content-box;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.crypto-bg .crypto-cnt{
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}


.dashboard-body  ul{
    list-style-type: none;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    width: 100%;
    background-color: #000;

    justify-content: space-between;
}

.dashboard-body ul li{
    width: 46%;
    height: 400px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    text-align: center;

}

.dashboard-body ul li:hover{
    background-color: transparent;
}

.dashboard-conclusion{
    height: auto;
    width: 100%;
    padding-top: 40px;
    z-index: 2000;
    position: relative;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}

.conclude-lg-img{
    /* background-image: url(../../images/1528731759314.jpeg); - Image removed */ background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    background-clip: content-box;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.conclude-lg-img div{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.globe-sale-cnt div:hover{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,.5);
}

.globe-img{
    /* /* background-image: url(../../images/1528731759314.jpeg); - Image removed */ background-color: rgb(0, 0, 0, 0.7); */
    
    background-color: #000;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    /* padding: 10px; */
    justify-content: space-between;
    /* grid-row: inherit; */
}

.globe-img section:nth-child(1){
    height: calc(40% - 5px);
    width: calc(100% - 0px);
    background-color: #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;

}

.globe-img section:nth-child(1) div:nth-child(1) ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.globe-img section:nth-child(1)  div:nth-child(1) ul li{
    width: calc(50% - 5px);
    height: calc(50% - 0px);
    margin: 0;
}


.globe-img section:nth-child(1) div:nth-child(1){
    height: 100%;
    width: calc(50% - 10px);
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;
}
.globe-img section:nth-child(1) div:nth-child(2){
    height: 100%;
    width: calc(50% - 10px);
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;

}

.globe-img section:nth-child(2){
    height: calc(60% - 10px);
    width: calc(100% - 0px);
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
}

.globe-img section:nth-child(2) div:nth-child(1){
    height: 100%;
    width: calc(100% - 0px);
    background-color: #fff;
    border-radius: 10px;
}
